/* 
    colors :
    lt = lighter,
    dk = darker
*/
$primary     : #007bff;
$lt_primary  : #74B9FF;
$secondarys  : #FDE8E2;
$tertiary    : #F68E71;
$dk_tertiary : #EA4F31;
$white       : #FFFFFF;
$lt_gray     : #DEDEDE;
$dk_gray     : #414141;
$red         : #c01818;
$dk_red      : #961e1e;


$r  : row;
$cl : column;
$cn : center;
$sp : space-between;

$trn : transparent;

//abstract :
$borderset: 1px dashed $tertiary;