@import url('../../styles/colors.css');



.main {
    background-color: var(--white);
    display: flex;

    .parcelcomponent {
        display: flex;
        flex-direction: column;
        padding: 40px;

        .title {
            font-family: 'Lato', sans-serif;
        }   

        .addparcel {
            background-color: tomato;
    
            .imgBx {
                width: 150px;
                height: 150px;
    
                img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                input {
                    margin-top: -200px;
                }
            }
        }  
    }

}
