@import url('../../styles/colors.css');

.cardBx {
    position: relative;
    padding: 15px;
    margin: -220px 0 0 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.2s;
    will-change: transform;
    user-select: none;
}
.cardBx:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}
.cardBx .card {
    display: inline-block;
    padding: 10px;
    margin: 0 7px;
    width: 250px;
    height: 250px;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px 1px rgba(0,0,0,0.2);
    z-index: -1;
}
.cardBx .card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cardBx .card .content .imgBx {
    align-self: flex-end;
    position: relative;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    z-index: 50;
}
.cardBx .card .content .imgBx img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: fill;
    filter: invert(82%) sepia(0%) saturate(10%) hue-rotate(223deg) brightness(150%) contrast(110%);
}
.cardBx .card .content .imgBx img:hover {
    filter: invert(10%) sepia(0%) saturate(30%) hue-rotate(223deg) brightness(102%) contrast(110%);
    cursor: pointer;
}
.cardBx .card .content .imageBx {
    position: relative;
    width: 120px;
    height: 120px;
    transition: 0.5s;
}
.cardBx .card .content .imageBx img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}