@keyframes growOut {
    0% {
       transform: scale(0)
   }
   80% {
       transform: scale(1.1)
   }
   100% {
       transform: scale(1)
   }
}

@keyframes rotateY {
    0% {
       transform: rotateY(90deg)
   }
   80% {
       transform: rotateY(-10deg)
   }
   100% {
       transform: rotateY(0)
   }
}