.outer-dp{
    /* background-color:red; */
    height:100vh;
    width:100%;
}
.header-dp{
    /* background-color:blue; */
    height:60px;
    width:100%;
    border-bottom: 2px solid gray;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    display:flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background-color: #0984e3;
}
.logo-dp{
    /* background-color: #0984e3; */
    height:60px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}

.logo-dp-ins{
    /* color:blue; */
    /* background-color:  #0984e3; */
    font-size: 30px;
    width:200px;
    height:50px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    margin-left:10px;
    margin-top:5px;
}
.input-content{
    /* background-color: red; */
    height:30px;
    width:150px;

}
.input-content input{
    /* margin-top: -30px; */
    height: 30px;
    width: 200px;
    border: 5px solid;
    border-color: var(--tertiary);
    border-radius: 30px;
    text-align: center;
    z-index: 1;
}
.call-number{
    width:100px;
    height:50px;
    /* background-color: red; */
    margin-left:50px;
}
.div-call{
    background-color: blue;

}