@import '../../styles/colors.css';

/* .container-luar {
    /* background-color: #74b9ff;*/
/* background: linear-gradient(0deg, rgba(116,185,255,1) 0%, rgba(9,132,227,1) 100%); */
/* #74b9ff;  biru muda
    #0984e3; biru tua */
/*
    width:20%;
    height                      : 100vh;
    box-shadow                  :1px 2px 3px 4px gray;
    border-top-right-radius     : 10px;
    border-bottom-right-radius  : 10px;
    /*
}

.logo {
    height:80px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom      : 40px;
    background-color: red;
}

.logo img {
    position: relative;
    width   : 100%;
}

.container-option {
    height                : auto;
    width                 : max-content;
    background-color   : #0984e3;
    margin-bottom         : 20px;
    padding-left       : 30px;
    padding-right      : 10px;
    display               : block;
    justify-content    : center;
    align-items        : center;
    justify-content    : space-between;
    flex-direction     : row;
}

.container-option:hover {
    cursor             : pointer;
    color              : #0984e3;
    background-color   : #74b9ff;
}

.option-word {
    display       : none;
    color         : white;
    font-weight   : 700;
    margin-top    : 10px;
    font-size     : 1rem;
}

.icon-size {
    font-size      : 25px;
    color             : white;
    margin-right   : 10px;
    margin-left    :10px;
    margin-right   :10px;
}

.icon-size:hover {
    color              : #0984e3;
    background-color   : #74b9ff;
}

.icon-size2 {
    display       : none;
    font-size     : 25px;
    color         : white;
    display    :flex;
    align-items: flex-end;
}

.button-logout {
    width           : 80%;
    height          : 40px;
    background-color: #0984e3;
    border-radius   : 10px;
    justify-content : center;
    display         : flex;
    margin-left     : 25px;
    margin-top      : 30px;
    align-items     : center;
}

.button-logout p {
    display    : none !important;
    color      : white;
    font-weight: 800;
}

.button-logout:hover {
    cursor          : pointer;
    color           : #0984e3;
    background-color: #74b9ff;
}

.inside-option {
    display              : none;
    display              : flex;
    flex-direction    : row;
    justify-content   : space-between;
    align-items       : center;
    width                : 100%;
} */



/* */
div.container-luar {
    position               : fixed;
    transition             : .5s;
    z-index                : 999;
    top                    : 0;
    left                   : 0;
    bottom                 : 0;
    width                  : 80px;
    height                 : 100vh;
    background-size        : 2000px;
    background-position    : 10% 30%;
    background-repeat      : space;
    background-color       : var(--primary);
    background-image       : url('../../assets/icon.svg');
    border-top-right-radius: 15px;
    box-shadow             : 1px 2px 3px 4px rgba(gray, gray, gray, .2);
    overflow-x             : hidden;
}

div.container-luar div.logo {
    color           : var(--secondarys);
    background-color: #25a8ff;
    display         : block;
    text-align      : center;
    line-height     : 20px;
    width           : 200px;
    margin-top      : 20px;
    margin-bottom   : 40px;
    border-radius   : 6px;
    padding         : 15px 20px 10px 20px;
}

div.container-luar div.logo img {
    position  : relative;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}

div.container-luar div.icon {
    position: block;
    height  : 40px;
    width   : 40px;
    margin  : 10px auto 40px auto;
}

div.container-luar div.icon img {
    position  : relative;
    width     : 100%;
    height    : 100%;
    object-fit: fill;
}

div.container-luar div.icon img:hover {
    filter: invert(37%) sepia(92%) saturate(2603%) hue-rotate(345deg) brightness(97%) contrast(88%);
}

div.container-luar div.container-option {
    position     : relative;
    display      : block;
    height       : auto;
    width        : 200px;
    margin-bottom: 20px;
    padding-left : 30%;
}

div.container-luar div.container-option:hover {
    cursor: pointer;
}

div.container-luar div.container-option div.inside-option {
    /* border         : 1px solid tomato; */
    display        : flex;
    justify-content: flex-start;
    align-items    : center;
    height         : 40px;
    width          : 120px;
}

div.container-luar div.container-option div.inside-option .icon-size {
    /* border       : 1px solid tomato; */
    color        : white;
    display      : block;
    padding      : 5px;
    border-radius: 3px;
    width        : 45px;
    height       : 100%;
    object-fit   : fill;
    transition   : .3s;
}

div.container-luar div.container-option div.inside-option .icon-size:hover {
    color           : var(--dk_tertiary);
    background-color: var(--tertiary);
}

div.container-luar div.container-option div.inside-option .icon-size2 {
    display: none;
}

div.container-luar div.container-option div.inside-option p {
    display: none;
    text-decoration: none;
    font-size      : 13px;
    margin-top     : 15px;
    color          : var(--white);
    padding        : 10px;
    width          : 100%;
    background-color: var(--tertiary);
    border-radius: 0 10px 10px 0;
}

div.container-luar div.container-option:active div.inside-option p {
    display: none;
    text-decoration: none;
    font-size      : 13px;
    margin-top     : 15px;
    color          : var(--white);
    padding        : 10px;
    width          : 100%;
    background-color: var(--tertiary);
    border-radius: 0 10px 10px 0;
}

div.container-luar div.imgBx {
    background-color: var(--tertiary);
    position        : absolute;
    bottom          : 15px;
    left            : 20px;
    border-radius   : 100%;
    height          : 40px;
    width           : 40px;
}

div.container-luar div.imgBx:hover {
    background-color: var(--lt_primary);
    cursor          : pointer;
}

div.container-luar div.imgBx img {
    position  : relative;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
}